.header, .footer {
    background-color: #1f2937;
}

h1, a, .main {
    color: #F9Faf8
}

h1 {
    font-size: 48px;
    font-weight: bolder;

}

a {
    font-size: 18px;

}

.main {
    font-size: 24px;
    
}

button {
    color: #3882f6;
}

.sign-up {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.signature {
    text-align: right;
}
